href("https://fonts.googleapis.com/css?family=Hammersmith+One" rel="stylesheet")
nav.navbar.navbar-default.navbar-fixed-top.navbar-top
   .container
      .narbar-header
         a.navbar-brand AI
         .nav.navbar-nav.navbar-right
            li
               a(href="#section_ask") INTRO
            li
               a(href="#section_about") ABOUT
            li
               a(href="#section_story") STORY
            li
               a(href="#section_future") FUTURE



header.jumbotron
   .container
      h1(data-0="transform: translateY(-50px)" data-500="transform: translateY(100px)") Artificial Intelligence
      hr
      h4 The world has been changed.
      
section#section_ask
   .container
      .row
         .col-sm-5.img(data-0="transform: translateX(-180px)" data-500="transform: translateY(0px)")
         .col-sm-7(data-300="opacity: 0" data-500="opacity: 1" )
            h3 Artificial Intelligence is an approach to make a computer, a robot, or a product to think how smart human think. AI is a study of how human brain think, learn, decide and work, when it tries to solve problems. 
            
section#section_about
    .container            
      .row
         .col-sm-12(data-bottom-top="transform: translateＹ(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
            h2 AI Application
            hr
         .col-md-4.col-sm-6
            .img_wrap(data-bottom-top="transform: translateＹ(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
                img(src="https://cdn-images-1.medium.com/max/800/0*VyrSXu2PnK2p-eyF.jpg", alt="")
            h3(data-bottom-top="transform: translateＹ(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1") Healthcare
            p(data-bottom-top="transform: translateＹ(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1") In healthcare, artificial intelligence has already proved to be a game-changer, improving every part of the industry virtually.
         .col-md-4.col-sm-6
            .img_wrap(data-bottom-top="transform: translateＹ(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
               img(src="https://cdn-images-1.medium.com/max/800/0*EchszGv-gB9m8Cq-.jpg", alt="")
            h3(data-bottom-top="transform: translateＹ(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1") Travel and navigation
            p(data-bottom-top="transform: translateＹ(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1") From suggesting efficient route to home, to making travel arrangements — artificial intelligence is helping people in taking the big leap. Travel companies, in particular, are capitalizing the ubiquitous usage of smart devices.
         .col-md-4.col-sm-6
            .img_wrap(data-bottom-top="transform: translateＹ(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
                img(src="https://cdn-images-1.medium.com/max/800/0*qmgL5Gg-eZ2pVexp.jpg", alt="")
            h3(data-bottom-top="transform: translateＹ(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1") Security and surveillance
            p(data-bottom-top="transform: translateＹ(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1") While you may argue on the ethical aspect of implementing a broad surveillance system, you can’t deny the fact that it’s being implemented. And artificial intelligence is playing a crucial role in this domain. 
         
            
section#section_story
   .container-fluid
      .row
         .col-sm-5.map(data-bottom-top="transform: background-size: 150% ; background-position: 0% 0%" data-center="transform: background-size: 100%; background-position: 50% 50%")
         .col-sm-7
            .col-sm-12
               h2 Influences on humans
               hr
            .col-sm-12.features
               .col-sm-4(data-bottom-top="transform: scale(1.5);opacity: 0" data-center="transform: scale(1);opacity: 1")
                  i.fa.fa-files-o
                  h4 Acclerated developement
               .col-sm-4(data-bottom-top="transform: scale(1.5);opacity: 0" data-center="transform: scale(1);opacity: 1")
                  i.fa.fa-paper-plane-o
                  h4 Speed transfer
               .col-sm-4(data-bottom-top="transform: scale(1.5);opacity: 0" data-center="transform: scale(1);opacity: 1")
                  i.fa.fa-floppy-o
                  h4 Convenient life
            .col-sm-12
               p Apart from these applications, there’re many others like AI-powered robots capable of thinking and solving problems in a limited capacity, increasingly adopted AI-powered marketing tools that can help marketers generate in-depth customer insights reports, book more impactful business meetings, and create pertinent content, among others. And all these are being done with minimal human intervention.
               
              
              
section#section_future
 .container-fluid
      .row
         .col-sm-12
            h2 AI generation
            hr
      .row
         .col-sm-12
            img(src="https://s.newtalk.tw/album/news/134/5b5c3336d34e0.jpg", alt="" data-bottom-top="filter: grayscale(100%)" data-center="filter: grayscale(0%)")
      .row
         .col-sm-6.feature(data-bottom-top="transform: translateX(50px)" data-center="transform: translateX(0px)")
            i.fa.fa-desktop
            h3 Impact on Web Development by AI
            p The web development fraternity is closely following the mantra of avoiding absolute hard coding for several functionalities. 
            p In a more straightforward sense, most of the developers are making the most out of several pre-built, tested resources available in all contributing communities like Github, Node Package Manager (NPM) and many more.

         .col-sm-6.feature
           i.fa.fa-cubes
           h3 Customer Engagement
           p Most business websites for a commercial organization on the Internet are agenda driven. They are monitored for the quality end-business goals like traffic, branding, business outreach.



           
footer.jumbotron
   .container
      h2 Do you want to know more about AI?
      input.form-control(placeholder="Email")
      hr
      button.btn.btn-default Suscribe